schemas/elfatoora-1.9.0-beta.xsd

<!-- edited with XMLSpy v2020 rel. 2 (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"/>
	<xs:annotation>
		<xs:documentation>version 1.9.0</xs:documentation>
	</xs:annotation>
	<xs:element name="TEIF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InvoiceHeader" type="HeaderType"/>
				<xs:element name="InvoiceBody" type="BodyType"/>
				<xs:element name="AdditionalDocumentsSection" type="AdRefSectionType" minOccurs="0"/>
				<xs:element name="RefTtnVal" type="RefTtnType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="DataStringType_6">
						<xs:enumeration value="1.9.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="controlingAgency" use="required">
				<xs:simpleType>
					<xs:restriction base="DataStringType_20">
						<xs:enumeration value="TTN"/>
						<xs:enumeration value="Tunisie TradeNet"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:assert test="InvoiceBody/PartnerSection/PartnerDetails[@functionCode='I-62']/Nad/PartnerIdentifier[@type='I-01']=InvoiceHeader/MessageSenderIdentifier[@type='I-01']"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BodyType">
		<xs:sequence>
			<xs:element name="Bgm" type="BgmType"/>
			<xs:element name="Dtm" type="DtmType"/>
			<xs:element name="PartnerSection" type="PartType"/>
			<xs:element name="LocSection" type="LocSectionType" minOccurs="0"/>
			<xs:element name="PytSection" type="PytInfoType" minOccurs="0"/>
			<xs:element name="Ftx" type="FtxType" minOccurs="0"/>
			<xs:element name="SpecialConditions" type="SpecialConditionsType" minOccurs="0"/>
			<xs:element name="LinSection" type="LinSegType"/>
			<xs:element name="LinDetailsSection" type="LinDetailSegType" minOccurs="0"/>
			<xs:element name="InvoiceMoa" type="MoaInvoiceType"/>
			<xs:element name="InvoiceTax" type="TaxInvoiceType"/>
			<xs:element name="InvoiceAlc" type="AlcInvoiceType" minOccurs="0"/>
		</xs:sequence>
		<xs:assert test="count(Dtm/DateText[@functionCode='I-31']) = 1 
    and Dtm/DateText[@functionCode='I-31']/@format = 'ddMMyyyy'"/>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element name="MessageSenderIdentifier" type="SenderIdentifierType" nillable="false"/>
			<xs:element name="MessageRecieverIdentifier" type="PartnerIdentifierType" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BgmType">
		<xs:sequence>
			<xs:element name="DocumentIdentifier" nillable="false">
				<xs:simpleType>
					<xs:restriction base="DocumentIdentifierType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DocumentType">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_35">
							<xs:attribute name="code" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_6">
										<xs:enumeration value="I-11"/>
										<xs:enumeration value="I-12"/>
										<xs:enumeration value="I-13"/>
										<xs:enumeration value="I-14"/>
										<xs:enumeration value="I-15"/>
										<xs:enumeration value="I-16"/>
										<xs:enumeration value="I-17"/>
										<xs:enumeration value="I-18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="DocumentReferences" type="DocRffType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DtmDetailType">
		<xs:simpleContent>
			<xs:extension base="NotNullDataStringType_20">
				<xs:attribute name="functionCode" use="required">
					<xs:simpleType>
						<xs:restriction base="DataStringType_6">
							<xs:enumeration value="I-31"/>
							<xs:enumeration value="I-32"/>
							<xs:enumeration value="I-33"/>
							<xs:enumeration value="I-34"/>
							<xs:enumeration value="I-35"/>
							<xs:enumeration value="I-36"/>
							<xs:enumeration value="I-37"/>
							<xs:enumeration value="I-38"/>
							<xs:enumeration value="I-39"/>
							<xs:enumeration value="I-310"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="format" use="required">
					<xs:simpleType>
						<xs:restriction base="DataStringType_20">
							<xs:enumeration value="ddMMyy"/>
							<xs:enumeration value="ddMMyyHHmm"/>
							<xs:enumeration value="ddMMyy-ddMMyy"/>
							<xs:enumeration value="ddMMyyyy"/>
							<xs:enumeration value="ddMMyyyyHHmm"/>
							<xs:enumeration value="ddMMyyyy-ddMMyyyy"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:assert test="(@format='ddMMyy' and matches($value,'^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{2}$')) 
or (@format='ddMMyyyy' and matches($value,'^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{4}$')) 
or (@format='ddMMyyHHmm' and matches($value,'^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{2}(0[0-9]|1[0-9]|2[0-3])([0-5][0-9])$')) 
or (@format='ddMMyyyyHHmm' and matches($value,'^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{4}(0[0-9]|1[0-9]|2[0-3])([0-5][0-9])$')) 
or (@format='ddMMyy-ddMMyy' and matches($value,'^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{2}-(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{2}$')) 
or (@format='ddMMyyyy-ddMMyyyy' and matches($value,'^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{4}-(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[0-2])[0-9]{4}$'))"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="DtmType">
		<xs:sequence>
			<xs:element name="DateText" type="DtmDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaiType">
		<xs:sequence>
			<xs:element name="PaiConditionCode">
				<xs:simpleType>
					<xs:restriction base="NotNullDataStringType_6">
						<xs:enumeration value="I-121"/>
						<xs:enumeration value="I-122"/>
						<xs:enumeration value="I-123"/>
						<xs:enumeration value="I-124"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaiMeansCode">
				<xs:simpleType>
					<xs:restriction base="NotNullDataStringType_6">
						<xs:enumeration value="I-131"/>
						<xs:enumeration value="I-132"/>
						<xs:enumeration value="I-133"/>
						<xs:enumeration value="I-134"/>
						<xs:enumeration value="I-135"/>
						<xs:enumeration value="I-136"/>
						<xs:enumeration value="I-137"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialConditionsType">
		<xs:sequence>
			<xs:element name="SpecialCondition" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_200"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FtxType">
		<xs:sequence>
			<xs:element name="FreeTextDetail" type="FtxDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FtxDetailType">
		<xs:sequence>
			<xs:element name="FreeTexts" type="NotNullDataStringType_500" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="subjectCode" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_6">
					<xs:enumeration value="I-41"/>
					<xs:enumeration value="I-42"/>
					<xs:enumeration value="I-43"/>
					<xs:enumeration value="I-44"/>
					<xs:enumeration value="I-45"/>
					<xs:enumeration value="I-46"/>
					<xs:enumeration value="I-47"/>
					<xs:enumeration value="I-48"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PartType">
		<xs:sequence>
			<xs:element name="PartnerDetails" maxOccurs="unbounded">
				<xs:alternative test="@functionCode ='I-62' or @functionCode='I-64'" type="PartDetailTestType"/>
				<xs:alternative test="@functionCode!='I-62' and @functionCode!='I-64'" type="PartDetailType"/>
			</xs:element>
		</xs:sequence>
		<xs:assert test="count(PartnerDetails[@functionCode='I-62']) = 1 
  and PartnerDetails[@functionCode='I-62']/Nad/PartnerIdentifier/@type = 'I-01'"/>
	</xs:complexType>
	<xs:complexType name="PartDetailType">
		<xs:sequence>
			<xs:element name="Nad" type="NadType"/>
			<xs:element name="LocSection" type="PartLocSectionType" minOccurs="0"/>
			<xs:element name="RffSectionGroup" type="RffSectionGroupType" minOccurs="0"/>
			<xs:element name="CtaSectionGroup" type="CtaSectionGroupType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="functionCode" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_6">
					<xs:enumeration value="I-61"/>
					<xs:enumeration value="I-62"/>
					<xs:enumeration value="I-63"/>
					<xs:enumeration value="I-64"/>
					<xs:enumeration value="I-65"/>
					<xs:enumeration value="I-66"/>
					<xs:enumeration value="I-67"/>
					<xs:enumeration value="I-68"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PartDetailTestType">
		<xs:sequence>
			<xs:element name="Nad" type="NadTestType"/>
			<xs:element name="LocSection" type="PartLocSectionType" minOccurs="0"/>
			<xs:element name="RffSectionGroup" type="RffSectionGroupType" minOccurs="0"/>
			<xs:element name="CtaSectionGroup" type="CtaSectionGroupType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="functionCode" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_6">
					<xs:enumeration value="I-61"/>
					<xs:enumeration value="I-62"/>
					<xs:enumeration value="I-63"/>
					<xs:enumeration value="I-64"/>
					<xs:enumeration value="I-65"/>
					<xs:enumeration value="I-66"/>
					<xs:enumeration value="I-67"/>
					<xs:enumeration value="I-68"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="NadType">
		<xs:sequence>
			<xs:element name="PartnerIdentifier" type="PartnerIdentifierType"/>
			<xs:element name="PartnerName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_200">
							<xs:attribute name="nameType" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_20">
										<xs:enumeration value="Physical"/>
										<xs:enumeration value="Qualification"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartnerAddress" type="AddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NadTestType">
		<xs:sequence>
			<xs:element name="PartnerIdentifier" type="PartnerIdentifierType"/>
			<xs:element name="PartnerName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_200">
							<xs:attribute name="nameType" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_20">
										<xs:enumeration value="Physical"/>
										<xs:enumeration value="Qualification"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartnerAddress" type="AddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="AddressDescription" type="NotNullDataStringType_500"/>
			<xs:element name="Street" type="DataStringType_35" minOccurs="0"/>
			<xs:element name="CityName" type="NotNullDataStringType_35"/>
			<xs:element name="PostalCode" type="NotNullDataStringType_17"/>
			<xs:element name="Country">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_6">
							<xs:attribute name="codeList" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_20">
										<xs:enumeration value="ISO_3166-1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="lang" type="LangEnumType" use="required"/>
	</xs:complexType>
	<xs:complexType name="LocType">
		<xs:simpleContent>
			<xs:extension base="NotNullDataStringType_200">
				<xs:attribute name="functionCode" use="required">
					<xs:simpleType>
						<xs:restriction base="DataStringType_6">
							<xs:enumeration value="I-51"/>
							<xs:enumeration value="I-52"/>
							<xs:enumeration value="I-53"/>
							<xs:enumeration value="I-54"/>
							<xs:enumeration value="I-55"/>
							<xs:enumeration value="I-56"/>
							<xs:enumeration value="I-57"/>
							<xs:enumeration value="I-58"/>
							<xs:enumeration value="I-59"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FiiType">
		<xs:sequence>
			<xs:element name="AccountHolder" type="AccountHolderType"/>
			<xs:element name="InstitutionIdentification" type="InstitutionIdentificationType" minOccurs="0"/>
			<xs:element name="Country">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DataStringType_6">
							<xs:attribute name="codeList" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_20">
										<xs:enumeration value="ISO_3166-1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="functionCode" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_6">
					<xs:enumeration value="I-141"/>
					<xs:enumeration value="I-142"/>
					<xs:enumeration value="I-143"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AccountHolderType">
		<xs:sequence>
			<xs:element name="AccountNumber" type="IbanType"/>
			<xs:element name="OwnerIdentifier" type="DataStringType_70" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstitutionIdentificationType">
		<xs:sequence>
			<xs:element name="BranchIdentifier" type="NotNullDataStringType_20"/>
			<xs:element name="InstitutionName" type="NotNullDataStringType_70"/>
		</xs:sequence>
		<xs:attribute name="nameCode" type="DataStringType_11" use="required"/>
	</xs:complexType>
	<xs:complexType name="MoaType">
		<xs:sequence>
			<xs:element name="Amount">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="MonetaryAmountType">
							<xs:attribute name="currencyIdentifier" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[A-Z]{3}"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AmountDescription" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_500">
							<xs:attribute name="lang" type="LangEnumType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="currencyCodeList" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_20">
					<xs:enumeration value="ISO_4217"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="amountTypeCode" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_6">
					<xs:enumeration value="I-171"/>
					<xs:enumeration value="I-172"/>
					<xs:enumeration value="I-173"/>
					<xs:enumeration value="I-174"/>
					<xs:enumeration value="I-175"/>
					<xs:enumeration value="I-176"/>
					<xs:enumeration value="I-177"/>
					<xs:enumeration value="I-178"/>
					<xs:enumeration value="I-179"/>
					<xs:enumeration value="I-180"/>
					<xs:enumeration value="I-181"/>
					<xs:enumeration value="I-182"/>
					<xs:enumeration value="I-183"/>
					<xs:enumeration value="I-184"/>
					<xs:enumeration value="I-185"/>
					<xs:enumeration value="I-186"/>
					<xs:enumeration value="I-187"/>
					<xs:enumeration value="I-188"/>
					<xs:enumeration value="I-189"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RefTtnType">
		<xs:sequence>
			<xs:element name="ReferenceTTN">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DataStringType_70">
							<xs:attribute name="refID" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_6">
										<xs:enumeration value="I-81"/>
										<xs:enumeration value="I-82"/>
										<xs:enumeration value="I-83"/>
										<xs:enumeration value="I-84"/>
										<xs:enumeration value="I-85"/>
										<xs:enumeration value="I-86"/>
										<xs:enumeration value="I-87"/>
										<xs:enumeration value="I-88"/>
										<xs:enumeration value="I-89"/>
										<xs:enumeration value="I-80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceCEV" type="DataStringType_4000"/>
			<xs:element name="ReferenceDate" type="DtmType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RefGrpType">
		<xs:sequence>
			<xs:element name="Reference">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_200">
							<xs:attribute name="refID" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_6">
										<xs:enumeration value="I-81"/>
										<xs:enumeration value="I-82"/>
										<xs:enumeration value="I-83"/>
										<xs:enumeration value="I-84"/>
										<xs:enumeration value="I-85"/>
										<xs:enumeration value="I-86"/>
										<xs:enumeration value="I-87"/>
										<xs:enumeration value="I-88"/>
										<xs:enumeration value="I-89"/>
										<xs:enumeration value="I-80"/>
										<xs:enumeration value="I-811"/>
										<xs:enumeration value="I-812"/>
										<xs:enumeration value="I-813"/>
										<xs:enumeration value="I-814"/>
										<xs:enumeration value="I-815"/>
										<xs:enumeration value="I-816"/>
										<xs:enumeration value="I-817"/>
										<xs:enumeration value="I-818"/>
										<xs:enumeration value="I-871"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReferenceDate" type="DtmType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtaGrpType">
		<xs:sequence>
			<xs:element name="Contact" type="CtaType"/>
			<xs:element name="Communication" type="ComType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtaType">
		<xs:sequence>
			<xs:element name="ContactIdentifier" type="NotNullDataStringType_17"/>
			<xs:element name="ContactName" type="NotNullDataStringType_200"/>
		</xs:sequence>
		<xs:attribute name="functionCode" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_6">
					<xs:enumeration value="I-91"/>
					<xs:enumeration value="I-92"/>
					<xs:enumeration value="I-93"/>
					<xs:enumeration value="I-94"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ComType">
		<xs:sequence>
			<xs:element name="ComMeansType">
				<xs:simpleType>
					<xs:restriction base="DataStringType_6">
						<xs:enumeration value="I-101"/>
						<xs:enumeration value="I-102"/>
						<xs:enumeration value="I-103"/>
						<xs:enumeration value="I-104"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ComAddress" type="NotNullDataStringType_500"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxType">
		<xs:sequence>
			<xs:element name="TaxTypeName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_200">
							<xs:attribute name="code" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_6">
										<xs:enumeration value="I-160"/>
										<xs:enumeration value="I-161"/>
										<xs:enumeration value="I-162"/>
										<xs:enumeration value="I-163"/>
										<xs:enumeration value="I-164"/>
										<xs:enumeration value="I-165"/>
										<xs:enumeration value="I-166"/>
										<xs:enumeration value="I-167"/>
										<xs:enumeration value="I-168"/>
										<xs:enumeration value="I-169"/>
										<xs:enumeration value="I-1601"/>
										<xs:enumeration value="I-1602"/>
										<xs:enumeration value="I-1603"/>
										<xs:enumeration value="I-1604"/>
										<xs:enumeration value="I-1605"/>
										<xs:enumeration value="I-1606"/>
										<xs:enumeration value="I-1607"/>
										<xs:enumeration value="I-1608"/>
										<xs:enumeration value="I-1609"/>
										<xs:enumeration value="I-1610"/>
										<xs:enumeration value="I-1611"/>
										<xs:enumeration value="I-1612"/>
										<xs:enumeration value="I-1613"/>
										<xs:enumeration value="I-1614"/>
										<xs:enumeration value="I-1615"/>
										<xs:enumeration value="I-1616"/>
										<xs:enumeration value="I-1617"/>
										<xs:enumeration value="I-1618"/>
										<xs:enumeration value="I-1619"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TaxCategory">
				<xs:simpleType>
					<xs:restriction base="DataStringType_6">
						<xs:enumeration value="Rate"/>
						<xs:enumeration value="Amount"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TaxDetails" type="TaxRateDetailType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinTaxType">
		<xs:sequence>
			<xs:element name="TaxTypeName">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="NotNullDataStringType_200">
							<xs:attribute name="code" use="required">
								<xs:simpleType>
									<xs:restriction base="DataStringType_6">
										<xs:enumeration value="I-160"/>
										<xs:enumeration value="I-161"/>
										<xs:enumeration value="I-162"/>
										<xs:enumeration value="I-163"/>
										<xs:enumeration value="I-164"/>
										<xs:enumeration value="I-165"/>
										<xs:enumeration value="I-166"/>
										<xs:enumeration value="I-167"/>
										<xs:enumeration value="I-168"/>
										<xs:enumeration value="I-169"/>
										<xs:enumeration value="I-1601"/>
										<xs:enumeration value="I-1602"/>
										<xs:enumeration value="I-1603"/>
										<xs:enumeration value="I-1604"/>
										<xs:enumeration value="I-1605"/>
										<xs:enumeration value="I-1606"/>
										<xs:enumeration value="I-1607"/>
										<xs:enumeration value="I-1608"/>
										<xs:enumeration value="I-1609"/>
										<xs:enumeration value="I-1610"/>
										<xs:enumeration value="I-1611"/>
										<xs:enumeration value="I-1612"/>
										<xs:enumeration value="I-1613"/>
										<xs:enumeration value="I-1614"/>
										<xs:enumeration value="I-1615"/>
										<xs:enumeration value="I-1616"/>
										<xs:enumeration value="I-1617"/>
										<xs:enumeration value="I-1618"/>
										<xs:enumeration value="I-1619"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="TaxCategory">
				<xs:simpleType>
					<xs:restriction base="DataStringType_6">
						<xs:enumeration value="Rate"/>
						<xs:enumeration value="Amount"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TaxDetails" type="TaxRateDetailType" minOccurs="0"/>
			<xs:element name="TaxAmount" type="MoaType" minOccurs="0"/>
		</xs:sequence>
		<xs:assert test="(TaxCategory = 'Rate' and TaxDetails and not(TaxAmount)) or (TaxCategory = 'Amount' and TaxAmount and not(TaxDetails))"/>
	</xs:complexType>
	<xs:complexType name="LinTaxSectionType">
		<xs:sequence>
			<xs:element name="LinTaxDetails" type="LinTaxType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinAlcSectionType">
		<xs:sequence>
			<xs:element name="LinAlcDetails" type="LinAlcType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRateDetailType">
		<xs:sequence>
			<xs:element name="TaxRate" type="TaxRateType"/>
			<xs:element name="TaxRateBasis" type="MonetaryAmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlcRateDetailType">
		<xs:sequence>
			<xs:element name="AlcRate" type="TaxRateType"/>
			<xs:element name="AlcRateBasis" type="MonetaryAmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PytSegType">
		<xs:sequence>
			<xs:element name="Pyt" type="PytType" minOccurs="0"/>
			<xs:element name="PytDtm" type="DtmType" minOccurs="0"/>
			<xs:element name="PytMoa" type="MoaType" minOccurs="0"/>
			<xs:element name="PytPai" type="PaiType" minOccurs="0"/>
			<xs:element name="PytFii" type="FiiType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Le compte bancaire ou postal est obligatoire si la facture est adressée à l'état, aux collectivités locales ou aux établissements publics</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:assert test="Pyt or PytDtm or PytMoa or PytPai or PytFii"/>
		<xs:assert test="not(PytFii/Country = 'TN') or (PytFii/Country = 'TN' and matches(PytFii/AccountHolder/AccountNumber, '^[0-9]{20}$'))"/>
	</xs:complexType>
	<xs:complexType name="PytType">
		<xs:sequence>
			<xs:element name="PaymentTermsTypeCode">
				<xs:simpleType>
					<xs:restriction base="NotNullDataStringType_6">
						<xs:enumeration value="I-111"/>
						<xs:enumeration value="I-112"/>
						<xs:enumeration value="I-113"/>
						<xs:enumeration value="I-114"/>
						<xs:enumeration value="I-115"/>
						<xs:enumeration value="I-116"/>
						<xs:enumeration value="I-117"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentTermsDescription" type="DataStringType_500" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlcType">
		<xs:sequence>
			<xs:element name="AllowanceIdentifier" type="DataStringType_35" minOccurs="0"/>
			<xs:element name="SpecialServices" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DataStringType_200">
							<xs:attribute name="lang" type="LangEnumType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="allowanceCode" use="required">
			<xs:simpleType>
				<xs:restriction base="DataStringType_6">
					<xs:enumeration value="I-151"/>
					<xs:enumeration value="I-152"/>
					<xs:enumeration value="I-153"/>
					<xs:enumeration value="I-154"/>
					<xs:enumeration value="I-155"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="QtyType">
		<xs:sequence>
			<xs:element name="Quantity">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="QuantityType">
							<xs:attribute name="measurementUnit" type="MeasurementUnitType" use="required"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinSegType">
		<xs:sequence>
			<xs:element name="Lin" type="LinType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinDetailSegType">
		<xs:sequence>
			<xs:element name="LinDetail" type="LinDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinType">
		<xs:sequence>
			<xs:element name="ItemIdentifier" type="NotNullDataStringType_35"/>
			<xs:element name="LinImd" type="ImdType"/>
			<xs:element name="LinApi" type="ApiSegType" minOccurs="0"/>
			<xs:element name="LinQty" type="QtyType"/>
			<xs:element name="LinDtm" type="DtmType" minOccurs="0"/>
			<xs:element name="LinTax" type="LinTaxSectionType"/>
			<xs:element name="LinAlc" type="LinAlcSectionType" minOccurs="0"/>
			<xs:element name="LinMoa" type="MoaLinType"/>
			<xs:element name="LinFtx" type="FtxType" minOccurs="0"/>
			<xs:element name="SubLinSection" type="SubLinSectionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubLinType">
		<xs:sequence>
			<xs:element name="ItemIdentifier" type="NotNullDataStringType_35"/>
			<xs:element name="LinImd" type="ImdType"/>
			<xs:element name="LinApi" type="ApiSegType" minOccurs="0"/>
			<xs:element name="LinQty" type="QtyType" minOccurs="0"/>
			<xs:element name="LinDtm" type="DtmType" minOccurs="0"/>
			<xs:element name="LinTax" type="LinTaxSectionType" minOccurs="0"/>
			<xs:element name="LinAlc" type="LinAlcSectionType" minOccurs="0"/>
			<xs:element name="LinMoa" type="MoaLinType" minOccurs="0"/>
			<xs:element name="LinFtx" type="FtxType" minOccurs="0"/>
			<xs:element name="SubLinSection" type="SubLinLevel2SectionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubLinLevel2Type">
		<xs:sequence>
			<xs:element name="ItemIdentifier" type="NotNullDataStringType_35"/>
			<xs:element name="LinImd" type="ImdType"/>
			<xs:element name="LinApi" type="ApiSegType" minOccurs="0"/>
			<xs:element name="LinQty" type="QtyType" minOccurs="0"/>
			<xs:element name="LinDtm" type="DtmType" minOccurs="0"/>
			<xs:element name="LinTax" type="LinTaxSectionType" minOccurs="0"/>
			<xs:element name="LinAlc" type="LinAlcSectionType" minOccurs="0"/>
			<xs:element name="LinMoa" type="MoaLinType" minOccurs="0"/>
			<xs:element name="LinFtx" type="FtxType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinDetailType">
		<xs:sequence>
			<xs:element name="ItemIdentifier" type="NotNullDataStringType_35"/>
			<xs:element name="LinImd" type="ImdType"/>
			<xs:element name="LinApi" type="ApiSegType" minOccurs="0"/>
			<xs:element name="LinQty" type="QtyType" minOccurs="0"/>
			<xs:element name="LinDtm" type="DtmType" minOccurs="0"/>
			<xs:element name="LinTax" type="LinTaxSectionType" minOccurs="0"/>
			<xs:element name="LinAlc" type="LinAlcSectionType" minOccurs="0"/>
			<xs:element name="LinMoa" type="MoaLinType" minOccurs="0"/>
			<xs:element name="LinFtx" type="FtxType" minOccurs="0"/>
			<xs:element name="SubLinSection" type="SubLinSectionType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImdType">
		<xs:sequence>
			<xs:element name="ItemCode" type="NotNullDataStringType_35"/>
			<xs:element name="ItemDescription" type="NotNullDataStringType_500"/>
		</xs:sequence>
		<xs:attribute name="lang" type="LangEnumType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ApiSegType">
		<xs:sequence>
			<xs:element name="ApiDetails" type="ApiType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApiType">
		<xs:sequence>
			<xs:element name="ApiCode" type="NotNullDataStringType_50"/>
			<xs:element name="ApiDescription" type="NotNullDataStringType_500"/>
		</xs:sequence>
		<xs:attribute name="lang" type="LangEnumType" use="required"/>
	</xs:complexType>
	<xs:complexType name="MoaInvoiceType">
		<xs:sequence>
			<xs:element name="AmountDetails" type="MoaDetailsType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:assert test="count(AmountDetails[Moa/@amountTypeCode='I-180' and Moa/Amount/@currencyIdentifier='TND']) = 1"/>
		<xs:assert test="every $amt in AmountDetails[Moa/@amountTypeCode='I-180'] satisfies matches($amt/Moa/Amount, '^[0-9]{1,15}([,.][0-9]{1,3})?$')"/>
		<xs:assert test="every $amt in AmountDetails[Moa/@amountTypeCode='I-176'] satisfies matches($amt/Moa/Amount, '^[0-9]{1,15}([,.][0-9]{1,3})?$')"/>
		<xs:assert test="every $amt in AmountDetails[Moa/@amountTypeCode='I-181'] satisfies matches($amt/Moa/Amount, '^[0-9]{1,15}([,.][0-9]{1,3})?$')"/>
	</xs:complexType>
	<xs:complexType name="MoaLinType">
		<xs:sequence>
			<xs:element name="MoaDetails" type="MoaDetailsType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MoaDetailsType">
		<xs:sequence>
			<xs:element name="Moa" type="MoaType"/>
			<xs:element name="RffDtm" type="RefGrpType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInvoiceType">
		<xs:sequence>
			<xs:element name="InvoiceTaxDetails" type="TaxDetailsType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxDetailsType">
		<xs:sequence>
			<xs:element name="Tax" type="TaxType"/>
			<xs:element name="AmountDetailsSection" type="MoaLinType"/>
		</xs:sequence>
		<xs:assert test="Tax/TaxCategory != 'Rate' or Tax/TaxDetails"/>
	</xs:complexType>
	<xs:complexType name="AlcInvoiceType">
		<xs:sequence>
			<xs:element name="AllowanceDetails" type="AlcDetailsType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LinAlcType">
		<xs:sequence>
			<xs:element name="Alc" type="AlcType"/>
			<xs:element name="AlcCategory">
				<xs:simpleType>
					<xs:restriction base="DataStringType_6">
						<xs:enumeration value="Rate"/>
						<xs:enumeration value="Amount"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AlcDetails" type="AlcRateDetailType" minOccurs="0"/>
			<xs:element name="AlcAmount" type="MoaType" minOccurs="0"/>
			<xs:element name="Ftx" type="FtxType" minOccurs="0"/>
		</xs:sequence>
		<xs:assert test="(AlcCategory = 'Rate' and AlcDetails) or (AlcCategory = 'Amount' and AlcAmount and not(AlcDetails))"/>
	</xs:complexType>
	<xs:complexType name="AlcDetailsType">
		<xs:sequence>
			<xs:element name="Alc" type="AlcType"/>
			<xs:element name="AlcCategory">
				<xs:simpleType>
					<xs:restriction base="DataStringType_6">
						<xs:enumeration value="Rate"/>
						<xs:enumeration value="Amount"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AlcDetails" type="AlcRateDetailType" minOccurs="0"/>
			<xs:element name="AlcAmount" type="MoaType" minOccurs="0"/>
			<xs:element name="Ftx" type="FtxType" minOccurs="0"/>
			<xs:element name="TaxAlc" type="TaxDetailsType" minOccurs="0"/>
		</xs:sequence>
		<xs:assert test="(AlcCategory = 'Rate' and AlcDetails) or (AlcCategory = 'Amount' and AlcAmount and not(AlcDetails))"/>
	</xs:complexType>
	<xs:complexType name="PytInfoType">
		<xs:sequence>
			<xs:element name="PytSectionDetails" type="PytSegType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdRefSectionType">
		<xs:sequence>
			<xs:element name="AdditionalDocument" type="AdRefType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdRefType">
		<xs:sequence>
			<xs:element name="AdditionalDocumentIdentifier" type="NotNullDataStringType_35"/>
			<xs:element name="AdditionalDocumentName" type="NotNullDataStringType_50"/>
			<xs:element name="AdditionalDocumentDate" type="DtmType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartLocSectionType">
		<xs:sequence>
			<xs:element name="Loc" type="LocType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RffSectionGroupType">
		<xs:sequence>
			<xs:element name="RffSection" type="RefGrpType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CtaSectionGroupType">
		<xs:sequence>
			<xs:element name="CtaSection" type="CtaGrpType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubLinSectionType">
		<xs:sequence>
			<xs:element name="SubLin" type="SubLinType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubLinLevel2SectionType">
		<xs:sequence>
			<xs:element name="SubLin" type="SubLinLevel2Type" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocSectionType">
		<xs:sequence>
			<xs:element name="LocDetails" type="LocType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocRffType">
		<xs:sequence>
			<xs:element name="DocumentReference" type="RefGrpType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerIdentifierType">
		<xs:simpleContent>
			<xs:extension base="NotNullDataStringType_30">
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="DataStringType_6">
							<xs:enumeration value="I-01"/>
							<xs:enumeration value="I-02"/>
							<xs:enumeration value="I-03"/>
							<xs:enumeration value="I-04"/>
							<xs:enumeration value="I-05"/>
							<xs:enumeration value="I-06"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:assert test="if (@type = 'I-01')
then ( ((string-length($value) = 13 and matches($value, '[0-9]{7}[ABCDEFGHJKLMNPQRSTVWXYZ][ABDNP][CMNPE][0-9]{3}'))
or (string-length($value) = 8 and matches($value, '[0-9]{7}[ABCDEFGHJKLMNPQRSTVWXYZ]')))
 and (let $num := substring($value,1,7),
      $letters := ('A','B','C','D','E','F','G','H','J','K','L','M','N','P','Q','R','S','T','V','W','X','Y','Z'),
      $x := number(substring($num,1,1))*7 +
        number(substring($num,2,1))*6 +
        number(substring($num,3,1))*5 +
        number(substring($num,4,1))*4 +
        number(substring($num,5,1))*3 +
        number(substring($num,6,1))*2 +
        number(substring($num,7,1))*1,
      $index := ($x mod 23) + 1  return substring($value,8,1) = $letters[$index]))
				else if (@type = 'I-02')
                then (string-length($value)=8 and matches($value,'[0-9]{8}'))
				else if ( @type = 'I-03')
                then matches($value,'^[A-Za-z0-9][A-Za-z0-9-]{4,18}[A-Za-z0-9]$')			
				else if (@type = 'I-04') 
				then matches($value, '^[A-Za-z0-9]{1,30}$')
				else if (@type = 'I-05') 
				then matches($value, '^[A-Za-z0-9]{1,30}$')
				else if (@type = 'I-06') 
				then matches($value, '^[A-Za-z0-9]{1,30}$')
				else false()"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="SenderIdentifierType">
		<xs:simpleContent>
			<xs:extension base="NotNullDataStringType_30">
				<xs:attribute name="type" use="required">
					<xs:simpleType>
						<xs:restriction base="DataStringType_6">
							<xs:enumeration value="I-01"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:assert test="if (@type = 'I-01')
then (((string-length($value) = 13 and matches($value, '[0-9]{7}[ABCDEFGHJKLMNPQRSTVWXYZ][ABDNP][CMNPE][0-9]{3}'))
or (string-length($value) = 8 and matches($value, '[0-9]{7}[ABCDEFGHJKLMNPQRSTVWXYZ]')))
 and ( let $num := substring($value,1,7),
      $letters := ('A','B','C','D','E','F','G','H','J','K','L','M','N','P','Q','R','S','T','V','W','X','Y','Z'),
      $x :=number(substring($num,1,1))*7 +
        number(substring($num,2,1))*6 +
        number(substring($num,3,1))*5 +
        number(substring($num,4,1))*4 +
        number(substring($num,5,1))*3 +
        number(substring($num,6,1))*2 +
        number(substring($num,7,1))*1,
      $index := ($x mod 23) + 1
  return substring($value,8,1) = $letters[$index]))else false()"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="DataStringType_6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_6">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_500">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_200">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_17">
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MeasurementUnitType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:enumeration value="UNIT"/>
			<xs:enumeration value="EA"/>
			<xs:enumeration value="PR"/>
			<xs:enumeration value="DZN"/>
			<xs:enumeration value="CEN"/>
			<xs:enumeration value="MIL"/>
			<xs:enumeration value="SET"/>
			<xs:enumeration value="BX"/>
			<xs:enumeration value="PK"/>
			<xs:enumeration value="RL"/>
			<xs:enumeration value="RM"/>
			<xs:enumeration value="DR"/>
			<xs:enumeration value="BO"/>
			<xs:enumeration value="PF"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="BAG"/>
			<xs:enumeration value="MLT"/>
			<xs:enumeration value="CLT"/>
			<xs:enumeration value="LTR"/>
			<xs:enumeration value="GLL"/>
			<xs:enumeration value="CMQ"/>
			<xs:enumeration value="MTQ"/>
			<xs:enumeration value="MGM"/>
			<xs:enumeration value="GRM"/>
			<xs:enumeration value="KGM"/>
			<xs:enumeration value="TNE"/>
			<xs:enumeration value="MMT"/>
			<xs:enumeration value="CMT"/>
			<xs:enumeration value="MTR"/>
			<xs:enumeration value="KMT"/>
			<xs:enumeration value="INH"/>
			<xs:enumeration value="YRD"/>
			<xs:enumeration value="CMK"/>
			<xs:enumeration value="MTK"/>
			<xs:enumeration value="FTK"/>
			<xs:enumeration value="YDK"/>
			<xs:enumeration value="MIN"/>
			<xs:enumeration value="HUR"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="E49"/>
			<xs:enumeration value="NIU"/>
			<xs:enumeration value="WEE"/>
			<xs:enumeration value="MON"/>
			<xs:enumeration value="ANN"/>
			<xs:enumeration value="KWH"/>
			<xs:enumeration value="MWH"/>
			<xs:enumeration value="D32"/>
			<xs:enumeration value="A90"/>
			<xs:enumeration value="3B"/>
			<xs:enumeration value="D30"/>
			<xs:enumeration value="BTU"/>
			<xs:enumeration value="DMO"/>
			<xs:enumeration value="SMS"/>
			<xs:enumeration value="MMS"/>
			<xs:enumeration value="LIC"/>
			<xs:enumeration value="KB"/>
			<xs:enumeration value="MB"/>
			<xs:enumeration value="GB"/>
			<xs:enumeration value="TB"/>
			<xs:enumeration value="C0"/>
			<xs:enumeration value="AH"/>
			<xs:enumeration value="AL"/>
			<xs:enumeration value="REQ"/>
			<xs:enumeration value="ACT"/>
			<xs:enumeration value="E27"/>
			<xs:enumeration value="CAP"/>
			<xs:enumeration value="E48"/>
			<xs:enumeration value="FF"/>
			<xs:enumeration value="E50"/>
			<xs:enumeration value="E51"/>
			<xs:enumeration value="E53"/>
			<xs:enumeration value="E54"/>
			<xs:enumeration value="E55"/>
			<xs:enumeration value="A9"/>
			<xs:enumeration value="1I"/>
			<xs:enumeration value="B7"/>
			<xs:enumeration value="EVT"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="TKM"/>
			<xs:enumeration value="SES"/>
			<xs:enumeration value="CON"/>
			<xs:enumeration value="PAX"/>
			<xs:enumeration value="PG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxRateType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{1,3}([.,][0-9]{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_70">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentIdentifierType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[A-Za-z0-9][A-Za-z0-9._-]{0,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_20">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IbanType">
		<xs:restriction base="xs:string">
			<xs:minLength value="14"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[A-Z0-9]{14,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_35">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_50">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_17">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_30">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotNullDataStringType_70">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DataStringType_4000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LangEnumType">
		<xs:restriction base="DataStringType_6">
			<xs:enumeration value="fr"/>
			<xs:enumeration value="en"/>
			<xs:enumeration value="ar"/>
			<xs:enumeration value="or"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QuantityType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:pattern value="-?[0-9]{1,15}([,.][0-9]{1,5})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonetaryAmountType">
		<xs:restriction base="xs:string">
			<xs:pattern value="-?[0-9]{1,15}([,.][0-9]{1,5})?"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
